<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Template.css" />
    <script src="Fudge/FudgeCore.js"></script>
    <script src="FudgeStory/FudgeStory.js"></script>
    <script src="./Build/Template.js"></script>
    <title>Der Spiegel</title>
  </head>

  <body>
    <scene>
      <dialog type="splash" open>
        <p>
          <img id="FudgeStoryLogo" theme="dark" />
          <!-- Fragen, wo das Logo ist -->
          Design your splash screen here. Reposition and rescale the logo above,
          but do not remove.
        </p>
      </dialog>
      <canvas></canvas>

      <speech>
        <name></name>
        <content>"Der Spiegel, der das Lächeln frass"</content>
      </speech>

      <dialog type="inventory">
        <button type="button">close</button>
        <ul></ul>
      </dialog>

      <div type="interface">
        <input
          name="scoreEmpathyPoints"
          value="Empathy Points"
          type="text"
          disabled
        />
        <!-- für value der Skala; Füllung -->
        <meter
          id="EmpathyPointsSkala"
          name="EmpathyPoints"
          min="0"
          max="100"
          disabled
        ></meter>
      </div>
      <dialog type="text"></dialog>
    </scene>
  </body>
</html>
